@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.primary-button {
  padding: 5px 15px;
  background-color:whitesmoke;
  color:black;
}

.secondary-button {
  padding: 5px 15px;
  background-color:red;
  color:black;
}

input.primary-button {
  margin-left: 15px;
}

input, input::placeholder {
  color:black;
}

.two-columns {
  display:flex;
  flex-direction:row;
  justify-content: space-around;
}

.search-result {
  margin:20px 5px;
}

.flex-column {
  display:flex;
  flex-direction:column;
  gap:20px;
}

footer {
  text-align: center;
  margin-top:100px;
}
